
<div id="report-title"><h1>Listmenu Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Id User</th>
            <td><%= record.id_user %></td>
        </tr>
    </tbody>
</table>
