
<div id="report-title"><h1>Listmenus</h1></div>
<table className="table table-sm table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id User</th>
        </tr>
    </thead>
    <tbody>
        <% records.forEach(function(record){ %>
        <tr>
            <td><%= record.id %></td>
            <td><%= record.id_user %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
